{% extends "base" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
{% if auth_uname is defined %}
<p>Hello {{auth_uname}} you are now signed in. <a href="/signout/{{auth_uname}}">click here</a> to sign out.</p>
{% endif %}
<br>Rent a car and more things.
{% endblock content %}