<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookies for all</title>
</head>

<body>
    <form action="/temp/ui" method="post">
        name: <input type="text" name="name" id="name"> <br>
        value: <input type="text" name="value" id="value"> <br>
        <input type="submit">
        <a href="/temp/ui/clear">reset</a>
    </form>

    <ul>
        {%for key,value in cs%}
        <li>{{key}} -> {{value}}</li>
        {%endfor%}
    </ul>
</body>

</html>